@font-face {
    font-family: myfont;
    src: url(arkitechmedium.ttf);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 160px;
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    box-sizing: border-box;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo-img {
    width: 60%;
    height: 60%;
}


input[type="submit" i] {
    -webkit-appearance: none;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
    border-image: none;
    text-decoration: none;
    color: #B9D0DE;
    font-size: 16px;
    padding-right: 25px;
}

input[type="submit" i]:hover {
    cursor: pointer;
    color: rgb(85, 171, 241);
}

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    padding-top: 10px;
}

h2 {
    color: rgb(3, 88, 141);
}

.phrase2 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    font-family: myfont;
}

.phrase {
    color: rgba(255, 255, 255, 0.774);
    font-size: 25px;
    font-family: myfont;
}

.icon {
    padding: 10px;
    background: rgb(3, 88, 141);
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-field, .input-reg {
    width: 100%;
    padding: 10px;
    outline: none;
}

.logoutform {
    max-width: 500px;
    margin: auto;
    float: right;
}

.loginform {
    max-width: 500px;
    margin: auto;
}

.input-field:focus, .input-reg:focus {
    border: 2px solid dodgerblue;
}

.btn {
    background-color: rgb(3, 88, 141);
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.signup {
    text-align: center;
    text-decoration: none;
    color: rgb(3, 88, 141);
    padding-top: 15px;
}

.signup-ref {
    text-decoration: none;
    color: rgb(3, 88, 141);
}

.signup-ref:hover {
    text-decoration: underline;
    color: rgb(3, 88, 141);
}

.btn:hover {
    background-color: rgb(5, 62, 97);
}

.left-content {
    margin-left: 15%;
    padding-top: 50px;
    float: left;
    width: 30%;
    height: 400px;
}

.right-content {
    float: left;
    width: 350px;
    background-color: rgb(242, 242, 243);
    padding: 25px;
    height: 400px;
}

.container {
    margin: auto;
    width: 80%;
    padding: 10px;
    overflow: hidden;
}

/*--------- REGISTER FORM --------*/

.register {
    background-color: rgb(242, 242, 243);
    padding: 25px;
    width: 430px;
}

.register-header {
    font-family: myfont;
}

.error {
    border-style: solid;
    border-color: red;
}

.errormes {
    color: orangered;
    font-weight: bold;
    font-size: small;
}


/*---------------------------------*/

/*----------- HOME PAGE ---------*/


.welcome {
    font-size: 18px;
    width: 650px;
    margin-left: 15%;
    text-align: center;
    color: white;
}

.nav {
    position: absolute;
    float: right;
    top: 30px;
    right: 25px;
}

.nav a {
    text-decoration: none;
    color: #B9D0DE;
    padding-right: 25px;
}

.nav a:hover {
    color: rgb(85, 171, 241);
}

header {
    background-color: gray;
}

.camera {
    background-color: lightgray;
    height: 400px;
    width: 640px;
    float: left;
    margin-right: 25px;
}

.side-panel {
    float: left;
    background-color: rgb(241, 241, 245);
    height: 575px;
    width: 400px;
}

.Container {
    padding-top: 80px;
}

element.style {
    padding: 15px;
    margin-top: 30px;
    height: 290px;
    width: 410px;
}

.row-heading {
    background-color: rgb(114, 116, 124);
    padding: 5px;
}

.row-heading h2 {
    color: white;
    font-size: 18px;
}

.camera-and-controll {
    float: left;
    width: 640px;
    margin-right: 90px;
}

.data {
    float: left;
    padding: 5px;
}

.result {
    padding-left: 30px;
}

caption {
    background-color: #4F6373;
    padding: 10px;
    color: white;
}

.table {
    border-collapse: collapse;
    background-color: rgb(241, 241, 245);
    width: 100%;
    border-color: #666;
}

.table td, .table th {
    border: 1px solid rgb(87, 85, 85);
}

.row {
    background-color: rgba(197, 208, 216, 0.774);
}

td {
    padding: 10px;
}

.arrow {
    color: #8D949F;
}

.home-container {
    margin: auto;
    margin-left: 15%;
    padding: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.control-panel {
    height: 175px;
    width: 640px;
    background-color: rgba(197, 208, 216, 0.411);
    overflow: hidden;
}

/*------- ARROWS -----*/

.arw {
    border: none;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 2px;
    background-color: #4F6373;
}

.arw:focus, .stop:focus {
    outline: none;
}

.arw:hover {
    color: rgb(85, 171, 241);
    cursor: pointer;
}

.arw:active {
    transform: translateY(2px);
}

.arrow-container {
    margin: auto;
    background-color: #4F6373;
    width: 180px;
    overflow: hidden;
    border-radius: 100px;
}

.arrowleft {
    float: left;
    font-size: 50px;
    padding-left: 17px;
}

.arrowright {
    float: left;
    padding-left: 18px;
    font-size: 50px;
}

.stop {
    border-radius: 100px;
    padding: 10px;
    color: #122C45;
}

.stop:hover {
    cursor: pointer;
    color: rgb(85, 171, 241);
}

.stopbutton {
    float: left;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 20px;
}

.arrowup {
    text-align: center;
    font-size: 50px;
}

.arrowdown {
    text-align: center;
    font-size: 50px;
}

/*----SENSORPAGE---*/
