<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
    <script src="script.js"></script>
</head>
<body>
<body>
<header>
    <div class="logo">
        <a href="/login">
            <img class="logo-img" src="logo.png">
        </a>
    </div>
    <div class="nav">
        <form th:action="@{/logout}" method="post">
            <input class ="signout" type="submit" value="Sign out">
        </form>
    </div>
</header>
<div class="welcome">
    <h3 th:text="${'Welcome ' + #httpServletRequest.remoteUser}"></h3>
</div>
<div class="home-container">
    <div class="camera-and-controll">
        <div class="camera">
            <img src="http://192.168.1.222:8000/stream.mjpg"></img>
        </div>
        <div class="control-panel">
            <div class="arrow-container">
                <div class="arrowup">
                    <button class="fa fa-angle-up arw" onclick="controlBoard('drive')"></button>
                </div>
                <div class="arrowleft">
                    <button class="fa fa-angle-left arw" onclick="controlBoard('left')"></button>
                </div>
                <div class="stopbutton">
                    <button class="fa fa-stop stop" onclick="controlBoard('stop')"></button>
                </div>
                <div class="arrowright">
                    <button class="fa fa-angle-right arw" onclick="controlBoard('right')"></button>
                </div>
                <div class="arrowdown">
                    <button class="fa fa-angle-down arw" onclick="controlBoard('reverse')"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="side-panel">
        <table class="table">
            <caption><b>SENSOR DATA</b></caption>
            <tr>
                <td>Temperature</td>
                <td class="result" id="temperature">37,8</td>
            </tr>
            <tr class="row">
                <td>Pressure</td>
                <td class="result" id="pressure">37,8</td>
            </tr>
            <tr>
                <td>Humidity</td>
                <td class="result" id="humidity">37,8</td>
            </tr>
        </table>
        <div class="Container">
            <canvas id="MyChart">
                <script src="chart.js"></script>
            </canvas>
        </div>
    </div>
</div>
</body>
</html>