<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
    <script src="script.js"></script>
</head>
<body>
<body>
<header>
    <div class="logo">
        <a href="/login">
            <img class="logo-img" src="logo.png">
        </a>
    </div>
    <nav>
        <a class="active" href="/home">Home</a>
        <a href="/sensordata">Sensor data</a>
        <form class="logoutform" th:action="@{/logout}" method="post">
            <input class ="signout" type="submit" value="Sign out">
        </form>
    </nav>
</header>
<div class="welcome">
    <h3 th:text="${'Signed in as ' + #httpServletRequest.remoteUser}"></h3>
</div>
<div class="home-container">
    <div class="camera-and-controll">
        <div class="camera">
            <img src="http://192.168.1.222:8000/stream.mjpg"></img>
        </div>
        <div class="control-panel">
            <div class="arrow-container">
                <div class="arrowup">
                    <button class="fa fa-angle-up arw" onclick="controlBoard('drive')"></button>
                </div>
                <div class="arrowleft">
                    <button class="fa fa-angle-left arw" onclick="controlBoard('left')"></button>
                </div>
                <div class="stopbutton">
                    <button class="fa fa-stop stop" onclick="controlBoard('stop')"></button>
                </div>
                <div class="arrowright">
                    <button class="fa fa-angle-right arw" onclick="controlBoard('right')"></button>
                </div>
                <div class="arrowdown">
                    <button class="fa fa-angle-down arw" onclick="controlBoard('reverse')"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="side-panel">
        <table class="table">
            <caption><b>SENSOR DATA</b></caption>
            <tr>
                <td>Time</td>
                <td class="result" id="timestamp"></td>
            </tr>
            <tr class="row">
                <td>Temperature</td>
                <td class="result" id="temperature" th:text="${sensorObservation.getTemperature()}"></td>
            </tr>
            <tr>
                <td>Humidity</td>
                <td class="result" id="humidity">37,8</td>
            </tr>
            <tr class="row">
                <td>Pressure</td>
                <td class="result" id="pressure">37,8</td>
            </tr>

        </table>
        <div class="Container">
            <canvas id="MyChart">

                <script th:inline="javascript">
                    let myChart = document.getElementById('MyChart').getContext('2d');
                    let chart = new Chart(myChart, {
                        type: 'line',
                        data:{
                            labels:[   /*[# th:each="item : ${sensorObservationList}"]*/
                                /*[[${#temporals.format(item.getTimestamp(), 'HH:mm')}]]*/undefined,
                                /*[/]*/],
                            datasets:[{
                                label: 'Temperature',
                                data:[
                                        /*[# th:each="item : ${sensorObservationList}"]*/
                                        -              - /*[(${item.getTemperature()})]*/undefined,
                                        /*[/]*/
                                ],
                                backgroundColor: '#84a1b3',
                                borderWidth:1,
                                borderColor:'grey',
                                pointRadius: 0
                            },{
                                label: 'Humidity',
                                data:[
                                    /*[# th:each="item : ${sensorObservationList}"]*/
                                    -              - /*[(${item.getHumidity()})]*/undefined,
                                    /*[/]*/
                                ],
                                backgroundColor: '#c7d3dc',
                                borderWidth:1,
                                borderColor:'grey',
                                pointRadius: 0
                            }]
                        },
                        options:{
                            title:{
                                display:true,
                                text: 'SenseGraph',
                                fontSize: 20,
                                marginBottom: 20,
                            },
                            legend:{
                                position: 'bottom',
                                padding: 20,
                                labels: {
                                    fontColor: 'black'
                                }
                            }
                        }
                    });

                </script>
            </canvas>
        </div>
    </div>
</div>
</body>
</html>