<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="logo">
    <img class ="logo-img" src="logo.png">
</div>
<div class="container">
    <div class="left-content">
        <h2 class="phrase">THERE</h2>
        <h2 class="phrase2">WHEN YOU CAN'T</h2>
    </div>
    <div class="right-content">
        <form method="POST" th:action="@{/login}" th:object="${user}">
            <h2>Login</h2>
            <div class="input-container">
                <i class="fa fa-user icon"></i>
                <input class="input-field" type="text" placeholder="Username"  th:field="*{username}">
            </div>
            <div class="input-container">
                <i class="fa fa-key icon"></i>
                <input class="input-field" type="password" placeholder="Password" name="password">
            </div>
            <div th:if="${param.error}">
            Wrong password or Username!
            </div>
            <button type="submit" class="btn">SIGN IN</button>
            <p ><a href="/signup">Sign up! </a></p>
        </form>
    </div>
</div>
</body>
</html>
