<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="logo">
    <a href="/login">
    <img class ="logo-img" src="logo.png">
    </a>
</div>
<div class="container">
    <form class="register" method="POST" th:action="@{/signup}" th:object="${user}"  >
        <h2 class="register-header">REGISTER</h2>
        <div>
            <label for="first">Your Name: </label><br>
            <div class="input-container">
                <input class="input-field" id="first" type="text" th:field="*{firstname}" name="firstname" placeholder="First Name" th:errorclass="error" autofocus>
            </div>
            <p th:class="errormes" th:if="${#fields.hasErrors('firstname')}">Incorrect value!</p>
            <div class="input-container">
                <input class="input-field" id="last" type="text" th:field="*{lastname}" name="lastname" th:errorclass="error" placeholder="Last Name" autofocus>
            </div>
            <p th:class="errormes" th:if="${#fields.hasErrors('lastname')}">Incorrect value!</p>

            <label>Enter username: </label>
            <div class="input-container" >
                <i class="fa fa-user icon"></i>
                <input class="input-field" type="text" name="username" placeholder="Username.." th:field="*{username}" th:errorclass="error" autofocus required>
            </div>
            <p th:class="errormes" th:if="${#fields.hasErrors('username')}">Incorrect username!</p>
            <p th:class="errormes" th:text = "${invalidUserName}"></p>

            <label>Enter password: </label>
            <div class="input-container">
                <i class="fa fa-key icon"></i>
                <input class="input-field" type="password" name="password" th:field="*{password}" placeholder="Password.." th:errorclass="error"  autofocus required>
            </div>
            <p th:class="errormes" th:if="${#fields.hasErrors('username')}">Incorrect password!</p>


            <label>Confirm password: </label>
            <div class="input-container">
                <i class="fa fa-key icon"></i>
                <input class="input-field" type="password" name="password2" placeholder="Password.." autofocus required>
            </div>
            <p th:class="errormes" th:text = "${invalidPassword}"></p>
            <label for="email">Email Address: </label>
            <div class="input-container">
                <i class="fa fa-envelope icon"></i>
                <input class="input-field" id="email" type="email" placeholder="Enter email.." th:field="*{email}" th:errorclass="error" name="email" autofocus>
            </div>
            <p th:class="errormes" th:if="${#fields.hasErrors('email')}">Incorrect email address!</p>
            <button class="btn" id="form_button">Submit</button>
        </div>
    </form>
</div>
</body>
</html>